::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #696969;
  opacity: 50%;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0%;
}
::-webkit-scrollbar-thumb:hover {
  width:15px;
}

body{
  font: 13px Helvetica, Arial;
  overflow: hidden;
  margin: 0px;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#title{
  /* position: float; */
  height: 50px;
  width: 30%;
  border-bottom: 1px solid #75a478;
  border-right: 1px solid #75a478;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButtons{
  position: absolute;
  height: 20px;
  width: 20px;
}

.actionButtons:hover{
  cursor: pointer;
}

#logout{
  left: 15px;
}

#compose{
  left: 345px;
}

#conversationHeader{
  height: 50px;
  width: 70%;
  border-bottom: 1px solid #75a478;
  border-right: 1px solid #75a478;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#existingChats{
  width: 30%;
  border-right: 1px solid #75a478;
}

#selectWindow{
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selectView{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  flex-grow: 1;
  /* border: 1px solid; */
}

.selectView:hover{
  cursor: pointer;
}

.selectView:active{
  background-color: #d7ffd9;
}

.selected{
  background-color: #d7ffd9;
}

.selectView > img{
  height: 10vh;
  width: 9vw;
}

#chatsContainer{
  height: 503px;
  max-height: 502px; /*change for height*/
  margin: 0px;
  overflow-y: auto;
}

.listOfInformation{
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-flow: column-reverse;
  /* padding-right: 30px; */
  padding-left: 0px;
}

.listOfInformation > a > li{
  border-bottom: 1px solid #DCDCDC;
  /* padding: 5px; */
  width: 100%;
}

.listOfInformation > a > li > h3, p{
  padding-left: 10px;
}

.endOfList{
  margin: 10px;
  align-self: center;
  color: #f8bbd0;
  font-weight: bold;
  font-size: 15px;
}

#actionBox{
  width: 70%;
}

#messagesContainer{
  max-height: 520px;
  margin: 0;
  overflow-y: auto;
}

#messages{
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

#messages > li{
  padding: 10px;
}

#send{
  border-top: 1px solid #75a478;
  position: absolute;
  bottom: 0;
  width: 70%;
}

#inputForm{
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;

}

#inputText{
  padding: 10px;
  width: 90%;
  border: none;
}

#sendButton{
  width: 8%;
  border: none;
  /* border-radius: 3px; */
  padding: 3px;
  background-color: transparent;
  color: #c48b9f;
  font-size: 15px;
  font-weight: bold;
}

#sendButton:hover{
  cursor: pointer;
}
