h3{
  position: float;
}

body{
  font: 13px Helvetica, Arial;
  overflow: hidden;
}

li{
  padding: 10px;
}

#logout{
  float: right;
  margin-top: -20px;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  /* height: 100vh;
  width: 100vh; */
}

#online{
  width: 30%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  overflow-y: auto;
}

#chatBox{
  width: 70%;
}

#messagesContainer{
  max-height: 60%;
  margin: 0;
  overflow-y: auto;
}

#messages{
  list-style-type: none;
  text-align: left;
}

#inputForm{
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 70%;
}

#inputText{
  border-width: 1px;
  padding: 10px;
  width: 90%;
}

#sendButton{
  width: 6%;
  border: none;
  padding: auto;
}
