{% extends "index.html" %}
{% block title %}Chats{% endblock %}
{% block chat_box %}

<div id="messagesContainer">
  {% if messages %}
    <ul id="messages">
      {% for m in messages %}

        {% if m['sender_username'] != current_user['username'] %}
          <li class="other messages"> {{ m['message'] }} </li>
          <p class="chatMessageUsername"> {{m['sender_username']}} </p>
        {% else %}
          <li class="self messages"> {{ m['message'] }} </li>
        {% endif %}

      {% endfor %}
    </ul>
  {% else %}
    <p> Start Talking! </p>
  {% endif %}
</div>
<div id="send">
  <form id="inputForm">
    <input id="inputText" type="text" autocomplete="off" placeholder="Send a message" required/>
    <button id="sendButton" type="submit">Send</button>
  </form>
</div>

{% endblock %}

{% block chat_script %}
<script>
var CHAT_ID = {{ chat_id }};
var USER_CHATS = {{ current_user['chats'] }};
var USERS_IN_CHAT = {{ users_in_chat|tojson }};
var USER_ID = {{ current_user['id'] }};
var NEW_CHAT = {{ 'false' if new_chat else 'true' }}
// location.href = Flask.url_for('index', {});
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
