{% extends "master.html" %}

{% block head %}
<!-- CSS Stuff -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %}

{% block body %}

<header>
  <div id="title">
    <img id="logout" class="actionButtons" src="{{ url_for('static', filename='images/powerIcon.png') }}" />
    <h2>Notis
      <!-- You are logged in as {{ current_user.username }} -->
    </h2>
    <img id="compose" class="actionButtons" src="{{ url_for('static', filename='images/composeIcon.png') }}" />
  </div>
  <div id="conversationHeader">
    <h2>
      {% for u in users_in_chat %}
        {{ u }}
      {% endfor %}
    </h2>
  </div>
</header>

<div class="container">
  <div id="existingChats">
    <div id="selectWindow">
      <div id="selectExistingConvos" class="selectView selected">
        <img src="{{ url_for('static', filename='images/homeIcon.png') }}" />
      </div>
      <div id="selectViewActives" class="selectView">
        <img src="{{ url_for('static', filename='images/groupIcon.png') }}" />
      </div>
      <div id="selectGames" class="selectView">
        <img src="{{ url_for('static', filename='images/gameIcon.png') }}" />
      </div>
    </div>
    <div id="chatsContainer">

      <ul id="activeUsers" class="listOfInformation">
        <div class="endOfList">No more users</div>
        {% for user in users %}
           <a><li>
             <h3 id='{{ user.username }}'>{{ user.username }}</h3>
             <p id='last_active_{{ user.username }}'>Last active: {{ user.last_active }}</p>
           </li></a>
        {% endfor %}
      </ul>

      <ul id="chats" class="listOfInformation">
        <div class="endOfList">No more conversations</div>
        {% for chat_id in current_user['chats'] %}
          <a href="{{ url_for('chats', chat_id=chat_id) }}">
            <li> {{ chat_id }} </li>
          </a>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div id="actionBox">
    <div id="chatBox">
      {% block chat_box %}
      {% endblock %}
    </div>

    {% block new_chat %}
    {% endblock %}

  </div>

</div>
{% endblock %}

{% block footer %}

<script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% block chat_script %}
{% endblock %}

{% block new_chat_script %}
{% endblock %}

{% endblock %}
