{% extends "master.html" %}

{% block head %}
<!-- CSS Stuff -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
{% endblock %}

{% block body %}

<header>
  <div id="title">
    <img id="logout" src="{{ url_for('static', filename='images/powerIcon.png') }}" />
    <h2>Notis</h2>
    <button id='new chat'> <a href="{{ url_for('new_chat')}}">+</a></button>
  </div>
  <div id="conversationHeader">
    <h2>Conversation Name</h2>
  </div>
</header>

<div class="container">
  <div id="existingChats">
    <div id="selectWindow">
      <div id="selectExistingConvos" class="selectView">
        <img src="{{ url_for('static', filename='images/homeIcon.png') }}" />
      </div>
      <div id="selectViewActives" class="selectView selected">
        <img src="{{ url_for('static', filename='images/groupIcon.png') }}" />
      </div>
      <div id="selectGames" class="selectView">
        <img src="{{ url_for('static', filename='images/gameIcon.png') }}" />
      </div>
    </div>
    <div id="chatsContainer">

      <ul id="activeUsers" class="listOfInformation">
        <div class="endOfList">No more users</div>
        {% for user in users %}
           <a><li>
             <h3>{{ user.username }}</h3>
             <p>{{ user.last_active }}</p>
           </li><a>
        {% endfor %}
      </ul>

      <ul id="chats" class="listOfInformation">
        <div class="endOfList">No more conversations</div>
        {% for chat_id in current_user['chats'] %}
          <a href="{{ url_for('chats', chat_id=chat_id) }}">
            <li> {{ chat_id }} </li>
          </a>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div id="chatBox">
    {% if users_in_chat %}
    <h1>
      {% for u in users_in_chat %}
        {{ u }}
      {% endfor %}
    </h1>
    {% endif %}
    <div id="messagesContainer">
      {% if messages %}
        <ul id="messages">
          <li>No more conversations</li>
          {% for m in messages %}
            <li> {{ m['message'] }} </li>
          {% endfor %}
        </ul>
      {% else %}
        <p> Start Talking! </p>
      {% endif %}
    </div>

    <div id="send">
      <form id="inputForm">
        <input id="inputText" type="text" autocomplete="off" placeholder="Send a message" required/>
        <button type="submit" id="sendButton">Send</button>
      </form>
    </div>

  </div>

</div>
{% endblock %}

{% block footer %}
<script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
