{% extends "master.html" %}

{% block body %}
<h1> INDEX PAGE </h1>
<ul id="messages">
  <li>Message 1</li>
  <li>Message 2</li>
  <li>Message 3</li>
</ul>

<div id="inputForm" onsubmit="javascript:(e) =>{e.preventDefault();}">
  <input id="inputText" type="text" placeholder="Send a message"/>
  <button type="button" id="sendButton">Send</button>
</div>

{% if logged_in %}
<form action="/logout">
    <input type="submit" value="Log Out" />
</form>
{% endif %}
{% endblock %}

{% block footer %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
