<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Plugged In</title>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <h1>Plugged In</h1>

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />

  </head>

  <body>

  <div class="centerOnPage centerContainer">
    <p>login.html</p>
    <form class="centerContainer" action="/login" method="POST">
      <input class="inputText" type="username" name="username" placeholder="Username">
      <input class="inputText" type="password" name="password" placeholder="Password" required>
      <input class="button" type="submit" value="Log in">
    </form>

    <a href="/register">register now!</a>
  </div>

</body>

<footer>
  <!-- jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</footer>

</html>
