<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Messenger</title>

      <!-- CSS Stuff -->
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
      <!-- Bootstrap -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <h1>Messenger</h1>

  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>

  <footer>
    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- page specific scripts -->
    {% block footer %}
    {% endblock %}
  </footer>

</html>
