{% extends "index.html" %}
{% block title %}New Chat{% endblock %}
{% block new_chat %}

<form id="newChatForm" class="center" method='post'>
  {% for user in users %}
    <input id='{{ user.id }}' type='checkbox' name='people' value='{{ user.id }}'>
      {{ user.username }}
    </input>
  {% endfor %}

  <button id='newChatSubmit' type='submit'>
    Start Chatting!
  </button>
</form>

{% endblock %}

{% block new_chat_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/new_chat.js') }}"></script>
{% endblock %}
