{% extends "access.html" %}

  {% block accessBox %}
  <div id="register" class="container centerOnPage center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form class="center" action="/register" method="POST">
      <input class="inputText" type="username" name="username" placeholder="Username" required>
      <input id="registerPassword" class="inputText" type="password" name="password" placeholder="Password" required>
      <input id="confirmPassword" class="inputText" type="password" onChange="checkPasswordMatch();" placeholder="Confirm password" required>
      <div id="divCheckPasswordMatch" class="registrationFormAlert"></div>
      <input id="registerInput" class="button" type="submit" value="Register">
    </form>
    <a href="/login">Already have an account?</a>
  </div>

  {% endblock %}

  {% block accessFooter %}
    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
  {% endblock %}
